/* Custom styles for landing page */
.landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    padding: 20px;
}

.left-side {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-end;
}

.circular-image {
    width:500px;/* Adjust size as needed */ 
    height: 470px;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    overflow: hidden;
    background-image: url('assets/Images/IMG-20240114-WA0028.jpg');
    background-position: center;
    background-size: cover;
}
.profile-pic{
    width: 500px;
    height: auto;
    
}

.right-side {
    flex: 45%;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.content{

    max-width: 80%;

    margin-left: 20px;

}
.hello{
    font-size: 5rem;
  font-family: 'Playfair Display', serif;
    
}
.about-me {
    margin-top: 20px;
    margin-left: 10px;
    max-width: 80%;
    font-family: 'Open Sans', sans-serif;
    
}

.button-container {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    gap: 30px;
  


}


.circular-button {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    background-color: #007bff;
    border-radius: 50%;
    width: 130px;
    height: 120px;
    line-height: 50px;
    text-align: center;
    letter-spacing: 2px;
    transition: letter-spacing 0.4s ease; /* Transition for letter-spacing */
}

.circular-button:hover {
    text-decoration: none;
    color: white;
    letter-spacing: 3px; /* Increase spacing between letters on hover */
}